# Lab 2.1: Probability and Counting

Exercises:
----------

1) A student's test score $T$ is an integer between 0 and 100 corresponding to the experimental outcomes $s_0,...,s_{100}$. A score of 90 to 100 is an $A$, 80 to 89 is a $B$, 70 to 79 is a $C$, 60 to 69 is a $D$, and below 60 is a failing grade of $F$. Given that all scores between 51 and 100 are qually likely and a score of 50 or less cannot occur, please find the following probabilities:  

a) $P(s_{79})$  

b) $P(s_{100})$  

c) $P(A)$  

d) $P(F)$  

e) $P(T\geq80)$  

f) $P(T<90)$  

g) $P$(a $C$ grade or better)  

h) $P$(student passes)

a) $P(s_{79}) = 1/50$  

b) $P(s_{100}) = 1/50$  

c) $P(A) = P(90 to 100) = 11/50$  

d) $P(F) = P(51 to 60) = 10/50$  

e) $P(T\geq80) = 21/50$  

f) $P(T<90) = 10/50$  

g) $P$(a $C$ grade or better) = $P(T\geq70) = 31/50$

h) $P$(student passes) = $P(T\geq60) = 41/50$

2) Use either `randint` or `random_sample` to generate a series of random grades for forty (40) students according to the above distribution. Put these in a DataFrame along with `student_id`s (hint: use `range` to generate your `id`s) and then `groupby` to count how many of each grade there are. The result should look something like:
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>student_id</th>
    </tr>
    <tr>
      <th>grade</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>A</th>
      <td>3</td>
    </tr>
    <tr>
      <th>B</th>
      <td>6</td>
    </tr>
    <tr>
      <th>C</th>
      <td>3</td>
    </tr>
    <tr>
      <th>D</th>
      <td>2</td>
    </tr>
    <tr>
      <th>F</th>
      <td>26</td>
    </tr>
  </tbody>
</table>
(though the numbers will be different)

In [17]:
# http://stackoverflow.com/questions/2823316/generate-a-random-letter-in-python
import pandas as pd
import numpy as np
import random

grades = ["A","B","C","D","F"]

student_grades = pd.DataFrame()
student_grades['student_id'] = [x for x in range(40)]
student_grades['grade'] = [random.choice(grades) for _ in range(40)]

count_of_grades = student_grades.groupby('grade')['student_id'].count()
count_of_grades.to_frame()

       student_id
grade
A               6
B               9
C               8
D               5
F              12

In [14]:
student_grades.head()

   student_id grade
0           0     B
1           1     C
2           2     C
3           3     A
4           4     D

3) Using two six-sided dice, what is the probability of:
    1. Rolling a 7?
    2. Rolling an 11?
    3. Rolling two 7s in a row?
    4. Rolling a 7 or 11?
    5. Rolling a 7 or 11 twice in a row? (i.e. 7, 7; 7, 11; 11, 7; 11, 11)

4) Create a function that plays craps. The rules of craps are these:  
    If you roll a seven (7) or an eleven (11) on your **first** roll, you win.  
    Otherwise, keep track of what you rolled the first time and keep rolling until:  
- you roll what you rolled the first time, which means you win; or  
- you roll a 7 or an 11, which means you lose.  

For example, if I roll 7, I win. But if I roll 5 and then a 7, I lose. If I roll 5, 3, 9, 10, 5, I win.

Your function should print out the status with each roll. Sample output might look something like...

    1) Target = 6
    2) Rolled 10
    Didn't roll 7, 11, or 6. Rerolling...
    3) Rolled 7
    Lost on roll 3

5) 300 Australians were asked about their car preferences in 1998. Of the respondents, 33% had children. The respondents were asked what sort of car they would like if they could choose any car at all. 13% of respondents had children and chose a large car. 12% of respondents did not have children and chose a large car. Find the probability that a randomly chosen respondent:
     1. would choose a large car;
     2. either has children or would choose a large car (or both).

6) Write a function that will generate random data according to the statistics describe above. If you call your DataFrame `aus` and name your columns `children` and `large_car` respectively, you should be able to get something like:

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>large_car</th>
      <th>False</th>
      <th>True</th>
      <th>All</th>
    </tr>
    <tr>
      <th>children</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>False</th>
      <td>?</td>
      <td>?</td>
      <td>?</td>
    </tr>
    <tr>
      <th>True</th>
      <td>?</td>
      <td>?</td>
      <td>?</td>
    </tr>
    <tr>
      <th>All</th>
      <td>?</td>
      <td>?</td>
      <td>300</td>
    </tr>
  </tbody>
</table>

using the command
```python
pd.crosstab(aus.children, aus.large_car, margins=True)
```
(with the counts filled in, of course)

7) 90 students are to be split at random into 3 classes of equal size. Joe and Jane are two of the students. What is the probability that they end up in the same class?

8) Write a function that will randomly deal a 52 card deck into four equal parts. That is, it should return a 4-tuple of lists of 13 strings each representing cards with no repeats (_i.e._ the Ace of Spades should appear exactly once and so on).

8) A well-shuffled 52-card deck is dealt to 4 players. Find the probability that each of the players gets an ace.